* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  color: #1874CD;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  padding-top: 85px;
  padding-bottom: 50px;
}

hr {
  width: 100%;
  border: 0.5px solid #D9D9D6;
}

input, button, textarea{
  border: 1px solid #D9D9D6;
}

#bodyer {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

#content {
  float: left;
  width: 68%;
  overflow: hidden;
}

#pageNav {
  width: 100%;
}

#pageNav ol {
  display: block;
  min-width: 1px;
  height: 20px;
  margin-left: 20%;
  white-space: nowrap;
}

#pageNav ol li {
  display: block;
  min-width: 1px;
  height: 20px;
  font-size: 16px;
  float: left;
  margin: 0 10px;
  padding-top: 1px;
}

#pageNav ol li.current a {
  color: #333;
  pointer-events: none;
  text-decoration: underline;
}

#pageNav ol li.prev, #pageNav ol li.next {
  padding-top: 0;
}

#sidebar {
  float: left;
  width: 25%;
  margin-left: 7%;
  margin-top: 15px;
  overflow: hidden;
}

#footer {
  width: 100%;
  color: #999;
  text-align: center;
  margin-top: 100px;
}

#footer p {
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
}

#footer a {
  color: #999;
  text-decoration: none;
}

@media screen and (max-width: 760px) {
  #content, #sidebar {
    width: 100%;
  }
  #sidebar {
    margin-left: 0;
    margin-top: 50px;
  }
  #pageNav ol {
    margin-left: 10%;
  }
  #pageNav ol li {
    margin: 0 5px;
    padding-top: 3px;
  }
}

